body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* Header */

#headerWrapper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 80px;
    position: relative;
    z-index: 50;
}

#headerWrapper2 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    min-height: 0px;
    position: relative;
    z-index: 40;
}

.header1{
    width: 100%;
    height: 100px;
    background: #2c3e50;
    color: #f1f1f1;
    line-height: 100px;
    position: fixed;
    top: 0;
    transition:all 0.5s ease;
}

.header2{
    width: 100%;
    height: 90px;
    background: #425c77;
    color: #f1f1f1;
    line-height: 100px;
    position: relative;
    top: 0;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.headerContainer2 {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.phoneNumber {
    float: left;
    font-family: 'Noto Sans HK', sans-serif;
    position: relative;
    margin: 0;
}

.emergencyService {
    float: right;
    font-family: 'Noto Sans HK', sans-serif;
    position: relative;
    margin: 0;
}

#logo {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 55px;
    float: left;
}

.header-logo {
    height: 55px;
    float: left;
    padding: 20px;
    position: fixed;
    display: block;
    left: 10px;
}

.top-nav {
    float: right;
    font-family: 'Noto Sans HK', sans-serif;
    text-transform: uppercase;
    position: fixed;
    display: block;
    right: 10px;
}
.top-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

.top-nav a:hover {
    color: rgb(245, 172, 104);
}

header.sticky{
    height: 60px;
    line-height: 60px;
}

header.sticky .header-logo {
    height: 35px;
    padding: 12px;
}

header.sticky .top-nav a{
    font-size: 16px;
}

/* Sections (General) */

.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.fwh-slide {
    height: 31rem;
    box-sizing: border-box;
    width: 100%;
}

/* .fwh-slide-left h1{
    margin: 0;
    color: rgb(26, 115, 173);
    font-family: 'Noto Sans HK', sans-serif;
    padding: 50px;
    font-size: 3rem;
    float: left;
    padding-left: 9rem;
}

.fwh-slide-right h1{
    margin: 0;
    color: rgb(26, 115, 173);
    font-family: 'Noto Sans HK', sans-serif;
    padding: 50px;
    font-size: 3rem;
    float: right;
    padding-right: 9rem;
}

.fwh-slide-left ul {
    color: rgb(245, 172, 104);
    font-family: 'Noto Sans HK', sans-serif;
    float: right;
    width: 50%;
    line-height: 4rem;
    font-size: 1.75rem;
    padding-top: 4rem;
    padding-right: 4rem;
    text-align: justify;
}

.fwh-slide-right ul {
    color: rgb(245, 172, 104);
    font-family: 'Noto Sans HK', sans-serif;
    float: left;
    width: 50%;
    line-height: 4rem;
    font-size: 1.75rem;
    padding-top: 4rem;
    padding-left: 4rem;
    text-align: justify;
} */

/* About Section */

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-logo{
    height: 30vw;
    padding-right: 2rem;
    left: 4rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.about p {
    color: #eee;
    font-family: 'Noto Sans HK', sans-serif;
    width: 50%;
    line-height: 2rem;
    font-size: 1.8vw;
    text-align: justify;
    right: 4rem;
    top: 2rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.about {
    background-color: #7f8c8d;
    /* background-image: url("images/summitAirLogoOpacity.png"); */
}

/* Heating Section */

.heating .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heating h1 {
    position: absolute;
    margin: 0;
    color: rgb(26, 115, 173);
    font-family: 'Noto Sans HK', sans-serif;
    top: 0px;
    left: 0px;
    font-size: 5vw;
}

.fa-gripfire {
    color: rgb(26, 115, 173);
    font-size: 30vw;
    margin-top: 20px;
    margin-right: 8vw;
}

.heating ul {
    color: #eee;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: bolder;
    text-align: justify;
    line-height: 6vw;
    font-size: 2.8vw;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.heating {
    background-color: #95a5a6;
}

/* Cooling Section */

.cooling .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooling h1 {
    position: absolute;
    margin: 0;
    color: rgb(26, 115, 173);
    font-family: 'Noto Sans HK', sans-serif;
    top: 0px;
    right: 0px;
    font-size: 5vw;
}

.fa-snowflake {
    color: rgb(26, 115, 173);
    font-size: 30vw;
    margin-top: 20px;
    margin-left: 8vw;
}

.cooling ul {
    color: #eee;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: bolder;
    text-align: justify;
    line-height: 6vw;
    font-size: 2.8vw;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.cooling {
    background-color: #7f8c8d;
}

/* Products Section */

.home-icon-container {
    width: 10rem;
    height: 10rem;
    font-size: 20rem;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    top: 10rem;
    left: -250px;
    float: left;
    z-index: 1;
}

.fa-home {
    color: rgb(26, 115, 173);
}


.products {
    background-color:  #95a5a6;
}

/* Service Section */

.tools-icon-container {
    width: 10rem;
    height: 10rem;
    font-size: 20rem;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    top: 10rem;
    left: 55rem;
    float: left;
    z-index: 5;
}

.fa-tools {
    color: rgb(26, 115, 173);
}

.service {
    background-color: #7f8c8d;
}

/* Contact Section */

.contact h1 {
    margin: 0;
    color: rgb(26, 115, 173);
    font-family: 'Noto Sans HK', sans-serif;
    padding: 50px;
    font-size: 3rem;
    float: left;
    padding-left: 9rem;
}

.contact p {
    color: rgb(245, 172, 104);
    font-family: 'Noto Sans HK', sans-serif;
    float: right;
    width: 50%;
    line-height: 4rem;
    font-size: 1.75rem;
    padding-top: 4rem;
    padding-right: 4rem;
    text-align: justify;
}

.contact {
    background-color:  #95a5a6;
}

/* CONTACT */

/* .contact{
    background-color: #2f3640;
}

form label{
    font-size: 1.5rem;
}

input[type="submit"]{
    width: initial;
    background-color: #718093;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}
*/

form {
  width: 50%;
  margin: 0 auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
}

.submit {
    background: #84AD47;
    color: #fff;
    width: auto;
    float: right;
}

::placeholder {
    color: darken(#f9f9f9, 50%);
}

textarea {
  height: 10rem;
}

input[type="submit"]:hover{
    color: #eee;
    background-color: rgb(26, 115, 173);
} 

/* @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
} */

/* Footer */

.copyright{
    width: 100%;
    text-align: center;
    background-color: #2c3e50;
    padding: .75rem;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 1s infinite;
    cursor: pointer;
}

.up i{
    color: #2c3e50;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 #718093;
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}

/* Media Queries */