body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

#headerWrapper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 80px;
  }

header{
    width: 100%;
    height: 100px;
    background: #555;
    color: #f1f1f1;
    line-height: 100px;
    position: fixed;
    top: 0;
}

header{
    transition:all 0.5s ease;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#logo {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    float: left;
}

.top-nav {
    float: right;
    font-family: 'Roboto', sans-serif;
}
.top-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

.top-nav a:hover {
    color: #FBCE2A;
}

header.sticky{
    height: 60px;
    line-height: 60px;
}

header.sticky #logo {
    font-size: 22px;
}

header.sticky .top-nav a{
    font-size: 16px;
}

.fwh-slide {
    height: 100vh;
    box-sizing: border-box;
}

.fwh-slide-left h1{
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font-size: 3rem;
    float: left;
    padding-left: 9rem;
}

.fwh-slide-right h1{
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font-size: 3rem;
    float: right;
    padding-right: 9rem;
}

.fwh-slide-left p {
    color: white;
    font-family: 'Roboto', sans-serif;
    float: right;
    width: 50%;
    line-height: 4rem;
    font-size: 1.75rem;
    padding-top: 4rem;
    padding-right: 4rem;
    text-align: justify;
}

.fwh-slide-right p {
    color: white;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 50%;
    line-height: 4rem;
    font-size: 1.75rem;
    padding-top: 4rem;
    padding-left: 4rem;
    text-align: justify;
}

.contact h1 {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font-size: 3rem;
    float: left;
    padding-left: 9rem;
}

.contact p {
    color: white;
    font-family: 'Roboto', sans-serif;
    float: right;
    width: 50%;
    line-height: 4rem;
    font-size: 1.75rem;
    padding-top: 4rem;
    padding-right: 4rem;
    text-align: justify;
}

.about h1 {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font-size: 3rem;
    float: left;
    padding-left: 9rem;
}

.about p {
    color: white;
    font-family: 'Roboto', sans-serif;
    float: right;
    width: 50%;
    line-height: 4rem;
    font-size: 1.75rem;
    padding-top: 4rem;
    padding-right: 4rem;
    text-align: justify;
}

.about {
    background-color: rgb(145, 142, 142);
    /* background-image: url("images/summitAirLogoOpacity.png"); */
}

.heating {
    background-color: rgb(105, 105, 110);
}

.cooling {
    background-color: rgb(145, 142, 142);
}

.products {
    background-color:  rgb(105, 105, 110);
}

.service {
    background-color: rgb(145, 142, 142);
}

.contact {
    background-color:  rgb(105, 105, 110);
}

.fwh-slide-right {

}
/* Footer */

.copyright{
    width: 100%;
    text-align: center;
    background-color: #555;
    padding: .75rem;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 1s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}